:root {
    --primary: rgb(20,20,25);
    --secondary: rgb(40,40,45);
    --tertiary: rgb(30,30,35);
    --text-regular: white;
    --text-contrast: var(--primary);
    --accent: rgb(180,180,180);
    --success: rgb(0,200,0);
    --overlay: rgba(20,20,25,.75);
}