* {
    box-sizing: border-box;
    color: var(--text-regular);
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
[data-role='button'] {
    cursor: pointer;
}
html, body {
    margin: 0;
    padding: 0;
}
div#app {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: var(--primary);
}
div#app > .sidebar {
    width: 200px;
    height: 100%;
    background: var(--secondary);
    display: flex;
    flex-direction: column;
}
div#app > .mainview {
    flex-grow: 1;
    height: 100%;
    background: var(--primary);
    padding: 20px;
}
div.connections_container {
    flex-grow: 1;
    width: 100%;
    padding-top: 20px;
}
div.add_connection {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 14px;
    background: var(--tertiary);
    padding-top: 15px;
}
div.add_connection span i {
    font-size: 12px;
    margin-right: 8px;
}
span.connection_name {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    margin-top: 0;
}
span.connection_host {
    display: block;
    font-size: 11px;
    margin-top: 0;
}
div.host_entry {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 8px 20px 8px 20px;
}
div.host_status {
    width: 34px;
    padding-top: 5px;
}
div.host_status i {
    color: var(--accent);
    font-size: 14px;
}
div.host_status i.up {
    color: var(--text-regular);
}
div.host_meta {
    flex-grow: 1;
}
div.new_connection_overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
    background: var(--overlay);
}
div.new_connection_overlay div.inner {
    display: block;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 320px;
    height: auto;
    padding: 20px;
    background: var(--secondary);
    border-radius: 15px;
    text-align: center;
}
div.new_connection_overlay div.inner h1 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}
div.new_connection_overlay div.inner input {
    width: 100%;
    margin-bottom: 13px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--text-regular);
    height: 25px;
    outline: none;
}
div.new_connection_overlay div.inner button.primary {
    margin-top: 20px;
}